*.fasl
.#*
*#
*~
/Doc/tempfiles-stamp
/Doc/inspect-object-3.png
/Doc/mcclim.aux
/Doc/mcclim.cp
/Doc/mcclim.cps
/Doc/mcclim.fn
/Doc/mcclim.fns
/Doc/mcclim.pdf
/Doc/mcclim.ps
/Doc/mcclim.toc
/Doc/mcclim.tp
/Doc/mcclim.tps
/Doc/mcclim.vr
/Doc/mcclim.vrs
/Doc/native.eps
/Doc/native.gif
/Doc/native.pdf
/Doc/native.png
Doc/docstrings
/Doc/ex2.gif
/Doc/ex2.pdf
/Doc/ex2.png
/Doc/inspect-as-cells.gif
/Doc/inspect-as-cells.pdf
/Doc/inspect-as-cells.png
/Doc/inspect-object-1.gif
/Doc/inspect-object-1.pdf
/Doc/inspect-object-1.png
/Doc/inspect-object-2.gif
/Doc/inspect-object-2.pdf
/Doc/inspect-object-2.png
/Doc/inspect-object-3.gif
/Doc/inspect-object-3.pdf
