*.fasl
.#*
*#
*~
/bugs.lisp
/Documentation/Manual/tempfiles-stamp
/Documentation/Manual/inspect-object-3.png
/Documentation/Manual/LaTeX/mcclim.out
/Documentation/Manual/LaTeX/mcclim.aux
/Documentation/Manual/LaTeX/mcclim.cp
/Documentation/Manual/LaTeX/mcclim.cps
/Documentation/Manual/LaTeX/mcclim.fn
/Documentation/Manual/LaTeX/mcclim.fns
/Documentation/Manual/LaTeX/mcclim.pdf
/Documentation/Manual/LaTeX/mcclim.ps
/Documentation/Manual/LaTeX/mcclim.toc
/Documentation/Manual/LaTeX/mcclim.tp
/Documentation/Manual/LaTeX/mcclim.tps
/Documentation/Manual/LaTeX/mcclim.vr
/Documentation/Manual/LaTeX/mcclim.vrs
/Documentation/Manual/LaTeX/mcclim.bbl
/Documentation/Manual/LaTeX/mcclim.blg
/Documentation/Manual/LaTeX/mcclim.cb
/Documentation/Manual/LaTeX/mcclim.cb2
/Documentation/Manual/LaTeX/mcclim.idx
/Documentation/Manual/LaTeX/mcclim.log
/Documentation/Manual/LaTeX/native.eps
/Documentation/Manual/LaTeX/native.gif
/Documentation/Manual/LaTeX/native.pdf
/Documentation/Manual/LaTeX/native.pdf_t
/Documentation/Manual/LaTeX/ex2.pdf
/Documentation/Manual/LaTeX/ex2.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-as-cells.pdf
/Documentation/Manual/LaTeX/fig-inspect-as-cells.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-1.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-1.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-2.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-2.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-3.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-3.pdf_t
/Documentation/Manual/native.png
/Documentation/Manual/docstrings
/Documentation/Manual/ex2.gif
/Documentation/Manual/ex2.png
/Documentation/Manual/inspect-as-cells.gif
/Documentation/Manual/inspect-as-cells.pdf
/Documentation/Manual/inspect-as-cells.png
/Documentation/Manual/inspect-object-1.gif
/Documentation/Manual/inspect-object-1.pdf
/Documentation/Manual/inspect-object-1.png
/Documentation/Manual/inspect-object-2.gif
/Documentation/Manual/inspect-object-2.pdf
/Documentation/Manual/inspect-object-2.png
/Documentation/Manual/inspect-object-3.gif
/Documentation/Manual/inspect-object-3.pdf
