*.fasl
.#*
*#
*~
/Documentation/Manual/tempfiles-stamp
/Documentation/Manual/inspect-object-3.png
/Documentation/Manual/mcclim.aux
/Documentation/Manual/mcclim.cp
/Documentation/Manual/mcclim.cps
/Documentation/Manual/mcclim.fn
/Documentation/Manual/mcclim.fns
/Documentation/Manual/mcclim.pdf
/Documentation/Manual/mcclim.ps
/Documentation/Manual/mcclim.toc
/Documentation/Manual/mcclim.tp
/Documentation/Manual/mcclim.tps
/Documentation/Manual/mcclim.vr
/Documentation/Manual/mcclim.vrs
/Documentation/Manual/native.eps
/Documentation/Manual/native.gif
/Documentation/Manual/native.pdf
/Documentation/Manual/native.png
/Documentation/Manual/docstrings
/Documentation/Manual/ex2.gif
/Documentation/Manual/ex2.pdf
/Documentation/Manual/ex2.png
/Documentation/Manual/inspect-as-cells.gif
/Documentation/Manual/inspect-as-cells.pdf
/Documentation/Manual/inspect-as-cells.png
/Documentation/Manual/inspect-object-1.gif
/Documentation/Manual/inspect-object-1.pdf
/Documentation/Manual/inspect-object-1.png
/Documentation/Manual/inspect-object-2.gif
/Documentation/Manual/inspect-object-2.pdf
/Documentation/Manual/inspect-object-2.png
/Documentation/Manual/inspect-object-3.gif
/Documentation/Manual/inspect-object-3.pdf
