Source: cl-mcclim
Section: devel
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), transfig, tetex-bin
Standards-Version: 3.5.8.0

Package: cl-mcclim-base
Architecture: all
Depends: ${shlibs:Depends}, common-lisp-controller (>= 3.37)
Requires: mcclim-backend
Description: Graphic user interface package for Common Lisp programs
 McCLIM is a free implementation of the CLIM specification. CLIM is
 a cross-platform, cross-implementation graphical user interface for
 Common Lisp programs.

Package: cl-mcclim-examples
Architecture: all
Depends: ${shlibs:Depends}, common-lisp-controller (>= 3.37)
Description: Graphic user interface package for Common Lisp programs
 McCLIM is a free implementation of the CLIM specification. CLIM is
 a cross-platform, cross-implementation graphical user interface for
 Common Lisp programs.
 . 
 These are example files for McCLIM.

Package: cl-mcclim-clx
Architecture: all
Provides: mcclim-backend
Depends: ${shlibs:Depends}, common-lisp-controller (>= 3.37)
Description: Graphic user interface package for Common Lisp programs
 McCLIM is a free implementation of the CLIM specification. CLIM is
 a cross-platform, cross-implementation graphical user interface for
 Common Lisp programs.
 . 
 This is the CLX backend for McCLIM

Package: cl-mcclim-doc
Architecture: all
Depends: ${shlibs:Depends}
Description: Documentation for McCLIM package
 McCLIM is a free implementation of the CLIM specification. CLIM is
 a cross-platform, cross-implementation graphical user interface for
 Common Lisp programs.
 .
 This is the documentation for McCLIM.
