#!/usr/bin/make -f

export DH_COMPAT=4

pkg	:= mcclim
debpkg  := cl-mcclim
pkg-doc	:= cl-mcclim-doc

clc-source	:= usr/share/common-lisp/source
clc-systems	:= usr/share/common-lisp/systems
clc-mcclim	:= $(clc-source)/clim
doc-dir		:= usr/share/doc/$(debpkg)


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	#(cd doc; $(MAKE))
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	rm -f debian/cl-mcclim.postinst.* debian/cl-mcclim.prerm.*
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	# Add here commands to install the package into debian/mcclim.
	dh_installdirs $(clc-systems) $(clc-mcclim) usr/share/doc/$(pkg-doc)
	dh_install debian/clim.asd $(shell echo *.lisp) $(clc-mcclim)
	dh_install Examples Goatee Backends $(clc-mcclim)
	dh_link $(clc-mcclim)/clim.asd $(clc-systems)/clim.asd
	dh_link $(clc-mcclim)/clim.asd $(clc-systems)/clim-clx.asd
	dh_link $(clc-mcclim)/clim.asd $(clc-systems)/clim-examples.asd
	#dh_install doc/manual.ps usr/share/doc/$(pkg-doc)

# Build architecture-independent files here.
binary-indep: build install


# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installexamples $(wildcard Examples/*)
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

